<h1>Users#new</h1>

<!--#<form action="/users" method="post" accept-charset="UTF-8">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]"><br>

  <label for="email">Email: </label>
  <input type="email" id="email" name="user[email]"><br>

  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]"><br>

  <input type="submit" value="Create">

</form>-->

<!--<%= form_tag('/users', method: 'post') do %>
    <%= label_tag(@user.username, "Username: ") %>
    <%= text_field_tag(@user.username)%>
    <%= label_tag(@user.email, "Email: ") %>
    <%= text_field_tag(@user.email)%>
    <%= label_tag(@user.password, "Password: ") %>
    <%= text_field_tag(@user.password)%>
    <input name="commit" type="submit" value="Create" />
<% end %>-->

<%= form_for(@user) do |f| %>
    <p>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "email@example.com" %>
    </p>
    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>